<!DOCTYPE html>
<html>
<head>
  <title><%=  controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class = "menu">
<ul>
	<li><a href = '/scouters'>Scouts</a></li>
	<li><a href = '/addresses'>Addresses</a></li>
	<li><a href = '/groups'>Groups</a></li>
	<li><a href = '/award_types'>Award Types</a></li>
	<li><a href = '/awards'>Awards</a></li>
	<li><a href = '/requirements'>Requirements</a></li>
</ul>	
</div>
<p class="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
